# Server
PORT=8000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/hexatodo

# JWT
JWT_SECRET=your_secret_here
JWT_EXPIRES_IN=7d
FRONTEND_URL=localhost

# Cache
REDIS_URL=redis://localhost:6379